table {
  border-collapse: collapse;
  border: 1px solid darkgray;
}

th, td {
  border: 1px solid darkgray;
  padding: 15px;
}

h1, h2 {
  color: #0073e6;
  padding: 30px 10px 10px 0px;
}

h2 {
  border-top: 5px solid #0073e6;
}
